* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* full window width */
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../image/Bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.minCotiner {
    width: 100%px;
    height: 700px;
}

#header {
    height: 100px;
    width: 100%;
    background-color: #F4A460;
}

.header-item {
    height: 70px;
    width: 100%;
    color: #F5DEB3;
    padding-top: 35px;
    padding-left: 550;
    font-size: 30px;
}

#mnue {
    background-color: #1a0000;
    height: 30px;
    width: 100%;
}

ul {
    display: inline;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

li {
    float: left;
    list-style-type: none;
    padding-left: 50px;
    font-size: 24px;
}

#mnue ul li a {
    text-decoration: none;
    font-style: bold;
    color: #D2B48C;
}

#mnue ul li a:hover {
    text-decoration: none;
    font-style: bold;
    color: white;
    background-color: #663300;
    ;
}

.contenet {
    height: 550px;
    width: 100%;
    margin: 0 auto;
}

.contOffers {
    height: 1100px;
    width: 100%;
    border-color: blue;
    background-color: white;
    background-image: url("../image/Bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% 550px;
    margin: 0 auto;
}

.img {
    width: 700px;
    height: 550px;
}

.footer {
    background-color: #332600;
    width: 100%;
    margin: 0 auto;
    height: 20px;
}

.table {
    width: 90%;
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    background-color: burlywood;
    border: 5px solid black;
    border-collapse: collapse;
    padding-top: 20px;
}

td,
th,
tr {
    border: 3px solid #1a0000;
    border-collapse: collapse;
    font-size: 18px;
    font-style: bold;
    width: 20%;
    text-align: center;
}

th {
    background-color: brown;
    font-size: 20px;
    color: #CD853F;
}

.tms2 {
    color: white;
    text-align: center;
}

td {
    color: #A52A2A;
}

.icon {
    height: 120px;
    width: 120px;
    margin-top: -30px;
    display: inline;
    float: left;
}

.frm2 {
    background-color: burlywood;
    width: 40%;
    height: 480px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    text-align: center;
    opacity: 90%;
}

input[type=text],
input[type=email],
input[type=Number],
input[type=tel],
select {
    width: 50%;
    padding: 10px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
}

.btn {
    width: 50%;
    background-color: #1a0000;
    color: blanchedalmond;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
}

input:focus,
textarea:focus {
    background-color: #1a0000;
    color: white;
    font-style: bold;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.footer {
    text-align: center;
    color: brown;
    background-color: #ffb366;
}

.tms {
    color: #F5DEB3;
    text-align: center;
    color: brown;
}

.e1 {
    width: 40%;
    height: 200px;
    background-color: #f1d1ac;
    margin: 2.5% 5%;
    float: left;
    border-radius: 10px;
}

.hinbox {
    margin-left: 30%;
    margin-top: 20%;
    color: rgb(82, 57, 47);
}

.link {
    text-decoration: none;
}

.link:hover {
    color: coral;
}

.e1:hover {
    background-color: brown;
}

.box {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    min-width: 30%;
}

label {
    color: brown;
    font-size: 14px;
    font-style: oblique;
}

.imgtable {
    width: 250px;
    height: 100px;
}